{%- import "../../../common/babyrace_lib.j2" as lib -%}
{%- set c = namespace() -%}
{%- set c.binary = "babyrace_level11_1" -%}
{%- set c.mode = "message" -%}
{{- lib.message_race_mutex_printf(c, false) -}}
{%- include "../../../common/test_babyrace_account_public.py.j2" -%}
