{%- extends "../../../common/Dockerfile.j2" -%}
{%- block additional_packages %}{{ super() }} build-essential{% endblock -%}
{%- block setup %}
RUN <<'EOF'
set -eu
gcc -Wl,-z,relro,-z,now -no-pie -fno-stack-protector {% if execstack | default(false) %}-z execstack {% endif %}-masm=intel -O0 -w /challenge/chat.c -o /challenge/chat
chmod 4755 /challenge/chat
{% if keep_source | default(false) %}chmod 644 /challenge/chat.c{% else %}rm -f /challenge/chat.c{% endif %}
rm -f /challenge/Dockerfile /challenge/.setup
EOF
{% endblock -%}
