{%- import "../../../common/babyrace_lib.j2" as lib -%}
{%- set c = namespace() -%}
{%- set c.binary = "babyrace_level7_0" -%}
{%- set c.mode = "signal" -%}
{{- lib.signal_race(c, true) -}}
{%- include "../../../common/test_babyrace_account_public.py.j2" -%}
