{%- import "../../../common/babykernel_lib.j2" as lib -%}
{%- set c = namespace() -%}
{{- lib.pwn_func_ptr_kaslr(c, random, false) -}}
{%- set c.output_name = "babykernel_level10.1.ko" -%}
{%- include "../../../common/test_babykernel_public.sh.j2" -%}
