{%- import "../../../common/babykernel_lib.j2" as lib -%}
{%- set c = namespace() -%}
{{- lib.crackme_privesc(c, random, false) -}}
{%- set c.output_name = "babykernel_level3.1.ko" -%}
{%- include "../../../common/test_babykernel_public.sh.j2" -%}
